In [20]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Try classical SVM

In [21]:
#scikit learn and tools
import pandas as pd
import numpy as np;
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from embedding import kernel_matrix

In [22]:
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('env.sel2.scaled.csv')

In [23]:
#take a look of the dataset
env.describe()

,illuminance,blinds,lamps,co,rh,co2,temp,occupancy
count,1.093400e+04,10934.000000,10934.000000,1.093400e+04,10934.000000,1.093400e+04,1.093400e+04,10934.000000
mean,2.859327e-17,0.803111,0.504677,-1.871559e-16,0.471725,1.455657e-16,-4.159021e-16,-0.315164
std,1.000000e+00,0.371107,0.498983,1.000000e+00,0.076689,1.000000e+00,1.000000e+00,0.949081
min,-9.310658e-01,0.000000,0.000000,-8.039283e-01,0.243300,-1.145063e+00,-1.711094e+00,-1.000000
25%,-8.848906e-01,1.000000,0.000000,-7.808253e-01,0.431300,-7.923978e-01,-8.078199e-01,-1.000000
50%,2.542024e-02,1.000000,1.000000,-2.725584e-01,0.487400,-3.964529e-01,-1.153100e-01,-1.000000
75%,3.882253e-01,1.000000,1.000000,3.743267e-01,0.519800,6.966369e-01,7.428010e-01,1.000000
max,9.814560e+00,1.000000,1.000000,6.542838e+00,0.633300,3.950372e+00,2.594513e+00,1.000000

In [24]:
#DEFINE design matrix
Y = env['occupancy']
#X = env[['illuminance', 'blinds','lamps','co', 'rh', 'co2', 'temp']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

X.head()

   illuminance  blinds  lamps      rh       co2      temp
0     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
1     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
2     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
3     -0.90468     1.0    0.0  0.4069 -0.795139 -0.030001
4     -0.90468     1.0    0.0  0.4069 -0.795139 -0.030001

In [25]:
#split design matrix (25% of the design matrix used for test)
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [26]:
#sanity check
print('TRAIN*****')
display(X_train.head())
display(X_train.describe())
print('TEST*****')
display(X_test.head())
display(X_test.describe())

TRAIN*****

       illuminance  blinds  lamps      rh       co2      temp
5660     -0.212052    1.00    0.0  0.4624 -0.469808  0.100472
5996     -0.607839    1.00    0.0  0.4960 -0.678033 -1.364839
7712      0.078192    1.00    1.0  0.4954  1.045657 -0.115310
1168      2.017550    0.06    1.0  0.3739 -0.863021  1.475456
10151     0.084788    1.00    1.0  0.5228  0.512552 -0.762656

,illuminance,blinds,lamps,rh,co2,temp
count,8200.000000,8200.000000,8200.000000,8200.000000,8200.000000,8200.000000
mean,-0.000777,0.801854,0.507149,0.472155,0.007677,0.004303
std,1.001401,0.371923,0.498868,0.076810,1.008312,1.000434
min,-0.931066,0.000000,0.000000,0.243300,-1.145063,-1.711094
25%,-0.884891,1.000000,0.000000,0.433700,-0.790580,-0.807820
50%,0.032017,1.000000,1.000000,0.487400,-0.395082,-0.115310
75%,0.388225,1.000000,1.000000,0.521600,0.695724,0.742801
max,9.814560,1.000000,1.000000,0.633300,3.950372,2.594513

TEST*****

      illuminance  blinds  lamps      rh       co2      temp
4491     0.276086    0.14    1.0  0.5015  2.531960 -0.677347
2757    -0.931066    1.00    0.0  0.3037 -0.886258  1.259675
6075     0.309068    1.00    1.0  0.4990 -0.053348 -1.108911
8513     0.111174    1.00    1.0  0.5167  1.461655  0.617346
2776    -0.931066    1.00    0.0  0.3104 -0.886258  1.174366

,illuminance,blinds,lamps,rh,co2,temp
count,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000
mean,0.002330,0.806878,0.497264,0.470433,-0.023026,-0.012906
std,0.995967,0.368689,0.499346,0.076322,0.974465,0.998769
min,-0.931066,0.000000,0.000000,0.243300,-1.145063,-1.711094
25%,-0.884891,1.000000,0.000000,0.424600,-0.798322,-0.807820
50%,0.012227,1.000000,0.010000,0.486500,-0.401464,-0.115310
75%,0.388225,1.000000,1.000000,0.519200,0.696637,0.742801
max,7.169381,1.000000,1.000000,0.633300,3.950372,2.594513

In [27]:
#WARNING: convert data to numpy. Quantum stuff (Qiskit) do not like PANDAS
X_train_np = X_train.to_numpy()
y_train_np = y_train.to_numpy()

X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

In [28]:
#define data for training
K = 150
K_test = 50

In [70]:
#try SVM using RBF kernel
svm = SVC(kernel='rbf').fit(X_train_np[:K], y_train_np[:K]);
#result...
predictions = svm.predict(X_test_np[:K_test])
accuracy_score(predictions, y_test[:K_test])

0.6666666666666666

In [71]:
#try SVM using linear kernel (dot product)
svm_quantum = SVC(kernel=kernel_matrix).fit(X_train_np[:K], y_train_np[:K]);

In [72]:
q_predictions = svm_quantum.predict(X_test_np[:K_test])
accuracy_score(q_predictions, y_test_np[:K_test])

0.8