In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [18]:
#needed to import qke procedures
import sys
from pathlib import Path

main_dir = str(Path().resolve().parent)
sys.path.insert(1, main_dir)

Try classical SVM

In [19]:
#scikit learn and tools
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('../data/env.sel3.scaled.csv')

In [21]:
#take a look of the dataset
env.describe()

,illuminance,blinds,lamps,rh,co2,temp,occupancy
count,2.865000e+03,2865.000000,2865.000000,2865.000000,2.865000e+03,2.865000e+03,2865.000000
mean,-3.571314e-16,0.801622,0.596464,0.473229,-5.952190e-16,-7.142629e-16,-0.130192
std,1.000000e+00,0.372305,0.489316,0.080185,1.000000e+00,1.000000e+00,0.991662
min,-1.016287e+00,0.000000,0.000000,0.243300,-1.222685e+00,-1.774534e+00,-1.000000
25%,-8.575745e-01,1.000000,0.000000,0.433700,-8.492006e-01,-8.538436e-01,-1.000000
50%,-6.989177e-02,1.000000,1.000000,0.491100,-3.252814e-01,-1.940149e-01,-1.000000
75%,3.357060e-01,1.000000,1.000000,0.524100,7.569402e-01,7.266751e-01,1.000000
max,8.559349e+00,1.000000,1.000000,0.633300,3.583699e+00,2.614091e+00,1.000000

In [22]:
#DEFINE design matrix
Y = env['occupancy']
#X = env[['illuminance', 'blinds','lamps','co', 'rh', 'co2', 'temp']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

X.head()

   illuminance  blinds  lamps      rh       co2      temp
0    -0.992774     1.0    0.0  0.4069 -1.001777 -0.061027
1    -0.992774     1.0    0.0  0.4069 -0.892611 -0.061027
2    -0.992774     1.0    0.0  0.4069 -1.002203 -0.061027
3    -0.992774     1.0    0.0  0.4069 -0.867245 -0.061027
4    -0.992774     1.0    0.0  0.4069 -0.958793 -0.061027

In [23]:
Y.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: occupancy, dtype: int64

In [24]:
#split design matrix (25% of the design matrix used for test)
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [25]:
#sanity check
print('TRAIN*****')
display(X_train.head())
display(X_train.describe())
print('TEST*****')
display(X_test.head())
display(X_test.describe())

TRAIN*****

      illuminance  blinds  lamps      rh       co2      temp
1743    -0.922235     1.0    0.0  0.5344 -0.629146 -1.334649
2602    -0.152187     1.0    1.0  0.5051  1.236161 -0.413958
364      0.300437     1.0    1.0  0.3867 -0.713381 -0.107061
548     -0.534272     1.0    0.0  0.3727 -1.108792 -0.147981
1388    -0.046379     1.0    1.0  0.4941 -0.408655 -1.160741

,illuminance,blinds,lamps,rh,co2,temp
count,2148.000000,2148.000000,2148.000000,2148.000000,2148.000000,2148.000000
mean,0.012362,0.803143,0.599930,0.472755,-0.001705,0.011477
std,1.018283,0.371133,0.488768,0.081049,1.003482,1.001542
min,-1.016287,0.000000,0.000000,0.243300,-1.222685,-1.774534
25%,-0.837001,1.000000,0.000000,0.425800,-0.867245,-0.853844
50%,-0.064014,1.000000,1.000000,0.491100,-0.325281,-0.147981
75%,0.347462,1.000000,1.000000,0.524100,0.756940,0.726675
max,8.559349,1.000000,1.000000,0.633300,3.583699,2.614091

TEST*****

      illuminance  blinds  lamps      rh       co2      temp
771      0.376854    1.00    1.0  0.5125  1.826271 -0.853844
420      0.879442    0.70    1.0  0.3330 -1.128561  1.299550
907     -0.058135    0.04    1.0  0.4520  0.386033  1.125641
2855    -0.969261    1.00    0.0  0.5076 -1.199914 -1.201660
1182    -0.099283    0.14    1.0  0.4764  0.267405 -1.114706

       illuminance      blinds       lamps          rh         co2        temp
count   717.000000  717.000000  717.000000  717.000000  717.000000  717.000000
mean     -0.037034    0.797064    0.586081    0.474647    0.005108   -0.034382
std       0.942822    0.376017    0.491150    0.077575    0.990173    0.995270
min      -1.016287    0.000000    0.000000    0.243300   -1.218820   -1.774534
25%      -0.892844    1.000000    0.000000    0.437400   -0.805355   -0.853844
50%      -0.081648    1.000000    1.000000    0.490500   -0.341612   -0.194015
75%       0.276924    1.000000    1.000000    0.522800    0.753502    0.726675
max       5.467400    1.000000    1.000000    0.633300    3.475396    2.614091

In [26]:
#WARNING: convert data to numpy. Quantum stuff (Qiskit) do not like PANDAS
X_train_np = X_train.to_numpy()
y_train_np = y_train.to_numpy()

X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

In [27]:
#check the shape of test and training dataset
print(f'Training shape dataset {X_train_np.shape}')
print(f'Label for traing {y_train_np.shape}')

print(f'Test shape dataset {X_test_np.shape}')
print(f'Label for test {y_test_np.shape}')

Training shape dataset (2148, 6)
Label for traing (2148,)
Test shape dataset (717, 6)
Label for test (717,)

In [28]:
#try SVM using RBF kernel
svm = SVC(kernel='linear').fit(X_train_np, y_train_np);
#result...
predictions = svm.predict(X_test_np)
accuracy_score(predictions, y_test)

0.8158995815899581

Try quantum Kernel Method

In [29]:
#Create a cotainer
from qke.qproc import CircuitContainer
from qke.qproc import Circuits


c = CircuitContainer(qtemplate=Circuits.circularEnt, nwire=6, obs=['ZIIIII', 'ZIIZII','ZZZZZZ', 'IZIIII','ZZIIII','ZZIIZI'])

*** Create a Container ***
*** Created quantum template for feature map using 6 qubit ***
     ┌───┐┌───────────┐                         ┌───┐ ░ ┌───┐
q_0: ┤ H ├┤ Rz(phi_0) ├──■──────────────────────┤ X ├─░─┤ H ├
     ├───┤├───────────┤┌─┴─┐                    └─┬─┘ ░ ├───┤
q_1: ┤ H ├┤ Rz(phi_1) ├┤ X ├──■───────────────────┼───░─┤ H ├
     ├───┤├───────────┤└───┘┌─┴─┐                 │   ░ ├───┤
q_2: ┤ H ├┤ Rz(phi_2) ├─────┤ X ├──■──────────────┼───░─┤ H ├
     ├───┤├───────────┤     └───┘┌─┴─┐            │   ░ ├───┤
q_3: ┤ H ├┤ Rz(phi_3) ├──────────┤ X ├──■─────────┼───░─┤ H ├
     ├───┤├───────────┤          └───┘┌─┴─┐       │   ░ ├───┤
q_4: ┤ H ├┤ Rz(phi_4) ├───────────────┤ X ├──■────┼───░─┤ H ├
     ├───┤├───────────┤               └───┘┌─┴─┐  │   ░ ├───┤
q_5: ┤ H ├┤ Rz(phi_5) ├────────────────────┤ X ├──■───░─┤ H ├
     └───┘└───────────┘                    └───┘      ░ └───┘
*** Required observables: ['ZIIIII', 'ZIIZII', 'ZZZZZZ', 'IZIIII', 'ZZIIII', 'ZZIIZI']

In [30]:
#IF NEEDED, REBUILD THE CONTAINER
#c.build(f_embedding= QEmbedding.createQuantumEmbedding, nwire= 6, obs=['ZIIIII', 'ZIIZII','ZZZZZZ', 'IZIIII','ZZIIII','ZZIIZI'])

#c.build(f_embedding= QEmbedding.createQuantumEmbedding, nwire= 6, obs=['ZIIIII'])

In [31]:
#take info about the current container
c.metadata()

*** Quantum template for feature map using 6 qubit ***
     ┌───┐┌───────────┐                         ┌───┐ ░ ┌───┐
q_0: ┤ H ├┤ Rz(phi_0) ├──■──────────────────────┤ X ├─░─┤ H ├
     ├───┤├───────────┤┌─┴─┐                    └─┬─┘ ░ ├───┤
q_1: ┤ H ├┤ Rz(phi_1) ├┤ X ├──■───────────────────┼───░─┤ H ├
     ├───┤├───────────┤└───┘┌─┴─┐                 │   ░ ├───┤
q_2: ┤ H ├┤ Rz(phi_2) ├─────┤ X ├──■──────────────┼───░─┤ H ├
     ├───┤├───────────┤     └───┘┌─┴─┐            │   ░ ├───┤
q_3: ┤ H ├┤ Rz(phi_3) ├──────────┤ X ├──■─────────┼───░─┤ H ├
     ├───┤├───────────┤          └───┘┌─┴─┐       │   ░ ├───┤
q_4: ┤ H ├┤ Rz(phi_4) ├───────────────┤ X ├──■────┼───░─┤ H ├
     ├───┤├───────────┤               └───┘┌─┴─┐  │   ░ ├───┤
q_5: ┤ H ├┤ Rz(phi_5) ├────────────────────┤ X ├──■───░─┤ H ├
     └───┘└───────────┘                    └───┘      ░ └───┘
*** Required observables: ['ZIIIII', 'ZIIZII', 'ZZZZZZ', 'IZIIII', 'ZZIIII', 'ZZIIZI']

In [32]:
#try SVM using linear kernel (dot product)
from qke.qproc import kernel_matrix

svm_quantum = SVC(kernel=kernel_matrix).fit(X_train_np, y_train_np);

In [33]:
q_predictions = svm_quantum.predict(X_test_np)
accuracy_score(q_predictions, y_test_np)

0.796373779637378

In [25]:
#try embedding on single sample
from qke.qproc import qfKernel

x1 = X_train_np[0]
x2 = X_train_np[1]
quantum_kernel = qfKernel(x1, x2)
classic_dot_product = x1.dot(x2)

print(f'Quantum kernel: {quantum_kernel}')
print(f'Classic dot product: {classic_dot_product}')

#check if different from classic
if quantum_kernel == classic_dot_product:
    print('Is the same that clasical')
else:
    print('Is not the same taht classical')

simmetric_kernel = qfKernel(x2,x1)
print(simmetric_kernel)

if simmetric_kernel == quantum_kernel:
    print('Is ismmetric')

Quantum kernel: 0.6804946853218848
Classic dot product: 1.341463615504249
Is not the same taht classical
0.6804946853218848
Is ismmetric