In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
#needed to import qke procedures
import sys
from pathlib import Path

main_dir = str(Path().resolve().parent)
sys.path.insert(1, main_dir)

Try classical SVM

In [13]:
#scikit learn and tools
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [7]:
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('../data/env.sel2.scaled.csv')

In [8]:
#take a look of the dataset
env.describe()

,illuminance,blinds,lamps,co,rh,co2,temp,occupancy
count,1.093400e+04,10934.000000,10934.000000,1.093400e+04,10934.000000,1.093400e+04,1.093400e+04,10934.000000
mean,2.859327e-17,0.803111,0.504677,-1.871559e-16,0.471725,1.455657e-16,-4.159021e-16,-0.315164
std,1.000000e+00,0.371107,0.498983,1.000000e+00,0.076689,1.000000e+00,1.000000e+00,0.949081
min,-9.310658e-01,0.000000,0.000000,-8.039283e-01,0.243300,-1.145063e+00,-1.711094e+00,-1.000000
25%,-8.848906e-01,1.000000,0.000000,-7.808253e-01,0.431300,-7.923978e-01,-8.078199e-01,-1.000000
50%,2.542024e-02,1.000000,1.000000,-2.725584e-01,0.487400,-3.964529e-01,-1.153100e-01,-1.000000
75%,3.882253e-01,1.000000,1.000000,3.743267e-01,0.519800,6.966369e-01,7.428010e-01,1.000000
max,9.814560e+00,1.000000,1.000000,6.542838e+00,0.633300,3.950372e+00,2.594513e+00,1.000000

In [9]:
#DEFINE design matrix
Y = env['occupancy']
#X = env[['illuminance', 'blinds','lamps','co', 'rh', 'co2', 'temp']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

X.head()

   illuminance  blinds  lamps      rh       co2      temp
0     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
1     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
2     -0.90468     1.0    0.0  0.4069 -0.910870 -0.030001
3     -0.90468     1.0    0.0  0.4069 -0.795139 -0.030001
4     -0.90468     1.0    0.0  0.4069 -0.795139 -0.030001

In [10]:
#split design matrix (25% of the design matrix used for test)
X_train, X_test, y_train, y_test = train_test_split(X, Y)

In [14]:
#sanity check
print('TRAIN*****')
display(X_train.head())
display(X_train.describe())
print('TEST*****')
display(X_test.head())
display(X_test.describe())

TRAIN*****

       illuminance  blinds  lamps      rh       co2      temp
10079     0.454190    1.00    1.0  0.5277  0.953614 -0.893129
5093     -0.884891    1.00    0.0  0.4868 -0.608323 -1.194221
2060     -0.231842    1.00    0.0  0.3379 -0.164530  1.560766
4603      1.311729    0.14    1.0  0.4935  1.924135  0.225927
5726     -0.931066    1.00    0.0  0.4600 -0.493044 -0.030001

,illuminance,blinds,lamps,rh,co2,temp
count,8200.000000,8200.000000,8200.000000,8200.000000,8200.000000,8200.000000
mean,0.008209,0.804633,0.506541,0.471244,-0.005637,-0.000142
std,1.004350,0.369986,0.498935,0.076941,0.997300,1.002034
min,-0.931066,0.000000,0.000000,0.243300,-1.145063,-1.711094
25%,-0.878294,1.000000,0.000000,0.427150,-0.792398,-0.807820
50%,0.032017,1.000000,1.000000,0.487400,-0.396905,-0.115310
75%,0.388225,1.000000,1.000000,0.519800,0.675218,0.742801
max,9.814560,1.000000,1.000000,0.633300,3.950372,2.594513

TEST*****

       illuminance  blinds  lamps      rh       co2      temp
10023     0.559733    1.00    1.0  0.5247 -0.632473 -1.108911
1835      0.744434    0.68    1.0  0.3056 -0.886258  2.423895
1777      0.751030    0.68    1.0  0.3037 -1.119095  1.861857
9186     -0.931066    1.00    0.0  0.6156  0.158070 -0.075164
8668     -0.931066    1.00    0.0  0.4960  0.252382  0.185782

,illuminance,blinds,lamps,rh,co2,temp
count,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000,2734.000000
mean,-0.024620,0.798546,0.499086,0.473166,0.016906,0.000424
std,0.986611,0.374481,0.499177,0.075921,1.008050,0.994058
min,-0.931066,0.000000,0.000000,0.243300,-1.145063,-1.711094
25%,-0.891487,1.000000,0.000000,0.434900,-0.792859,-0.807820
50%,0.012227,1.000000,0.500000,0.486800,-0.372755,-0.115310
75%,0.345348,1.000000,1.000000,0.521600,0.721126,0.742801
max,9.814560,1.000000,1.000000,0.633300,3.950372,2.594513

In [15]:
#WARNING: convert data to numpy. Quantum stuff (Qiskit) do not like PANDAS
X_train_np = X_train.to_numpy()
y_train_np = y_train.to_numpy()

X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

In [16]:
#check the shape of test and training dataset
print(f'Training shape dataset {X_train_np.shape}')
print(f'Label for traing {y_train_np.shape}')

print(f'Test shape dataset {X_test_np.shape}')
print(f'Label for test {y_test_np.shape}')

Training shape dataset (8200, 6)
Label for traing (8200,)
Test shape dataset (2734, 6)
Label for test (2734,)

In [17]:
#define data for training
K = 1000
K_test = 1000
#K = len(y_train_np)
#K_test = len(y_test_np)

print(f'Take {K} sample for training and {K_test} for test')

Take 1000 sample for training and 1000 for test

In [18]:
#try SVM using RBF kernel
svm = SVC(kernel='rbf').fit(X_train_np[:K], y_train_np[:K]);
#result...
predictions = svm.predict(X_test_np[:K_test])
accuracy_score(predictions, y_test[:K_test])

0.825

Try quantum Kernel Method

In [19]:
#Create a cotainer
from qke.qproc import CircuitContainer
from qke.qproc import Circuits


c = CircuitContainer(qtemplate=Circuits.circularEnt, nwire=6, obs=['ZIIIII', 'ZIIZII','ZZZZZZ', 'IZIIII','ZZIIII','ZZIIZI'])

*** Create a Container ***
*** Created quantum template for feature map using 6 qubit ***
     ┌───┐┌───────────┐                         ┌───┐ ░ ┌───┐
q_0: ┤ H ├┤ Rz(phi_0) ├──■──────────────────────┤ X ├─░─┤ H ├
     ├───┤├───────────┤┌─┴─┐                    └─┬─┘ ░ ├───┤
q_1: ┤ H ├┤ Rz(phi_1) ├┤ X ├──■───────────────────┼───░─┤ H ├
     ├───┤├───────────┤└───┘┌─┴─┐                 │   ░ ├───┤
q_2: ┤ H ├┤ Rz(phi_2) ├─────┤ X ├──■──────────────┼───░─┤ H ├
     ├───┤├───────────┤     └───┘┌─┴─┐            │   ░ ├───┤
q_3: ┤ H ├┤ Rz(phi_3) ├──────────┤ X ├──■─────────┼───░─┤ H ├
     ├───┤├───────────┤          └───┘┌─┴─┐       │   ░ ├───┤
q_4: ┤ H ├┤ Rz(phi_4) ├───────────────┤ X ├──■────┼───░─┤ H ├
     ├───┤├───────────┤               └───┘┌─┴─┐  │   ░ ├───┤
q_5: ┤ H ├┤ Rz(phi_5) ├────────────────────┤ X ├──■───░─┤ H ├
     └───┘└───────────┘                    └───┘      ░ └───┘
*** Required observables: ['ZIIIII', 'ZIIZII', 'ZZZZZZ', 'IZIIII', 'ZZIIII', 'ZZIIZI']

In [20]:
#take info about the current container
c.metadata()

*** Quantum template for feature map using 6 qubit ***
     ┌───┐┌───────────┐                         ┌───┐ ░ ┌───┐
q_0: ┤ H ├┤ Rz(phi_0) ├──■──────────────────────┤ X ├─░─┤ H ├
     ├───┤├───────────┤┌─┴─┐                    └─┬─┘ ░ ├───┤
q_1: ┤ H ├┤ Rz(phi_1) ├┤ X ├──■───────────────────┼───░─┤ H ├
     ├───┤├───────────┤└───┘┌─┴─┐                 │   ░ ├───┤
q_2: ┤ H ├┤ Rz(phi_2) ├─────┤ X ├──■──────────────┼───░─┤ H ├
     ├───┤├───────────┤     └───┘┌─┴─┐            │   ░ ├───┤
q_3: ┤ H ├┤ Rz(phi_3) ├──────────┤ X ├──■─────────┼───░─┤ H ├
     ├───┤├───────────┤          └───┘┌─┴─┐       │   ░ ├───┤
q_4: ┤ H ├┤ Rz(phi_4) ├───────────────┤ X ├──■────┼───░─┤ H ├
     ├───┤├───────────┤               └───┘┌─┴─┐  │   ░ ├───┤
q_5: ┤ H ├┤ Rz(phi_5) ├────────────────────┤ X ├──■───░─┤ H ├
     └───┘└───────────┘                    └───┘      ░ └───┘
*** Required observables: ['ZIIIII', 'ZIIZII', 'ZZZZZZ', 'IZIIII', 'ZZIIII', 'ZZIIZI']

In [14]:
#IF NEEDED, REBUILD THE CONTAINER
#c.build(f_embedding= QEmbedding.createQuantumEmbedding, nwire= 6, obs=['ZIIIII', 'ZIIZII','ZZZZZZ', 'IZIIII','ZZIIII','ZZIIZI'])

#c.build(f_embedding= QEmbedding.createQuantumEmbedding, nwire= 6, obs=['ZIIIII'])

In [21]:
#try SVM using linear kernel (dot product)
from qke.qproc import kernel_matrix

svm_quantum = SVC(kernel=kernel_matrix).fit(X_train_np[:K], y_train_np[:K]);

In [22]:
q_predictions = svm_quantum.predict(X_test_np[:K_test])
accuracy_score(q_predictions, y_test_np[:K_test])

0.759

In [25]:
#try embedding on single sample
from qke.qproc import qfKernel

x1 = X_train_np[0]
x2 = X_train_np[1]
quantum_kernel = qfKernel(x1, x2)
classic_dot_product = x1.dot(x2)

print(f'Quantum kernel: {quantum_kernel}')
print(f'Classic dot product: {classic_dot_product}')

#check if different from classic
if quantum_kernel == classic_dot_product:
    print('Is the same that clasical')
else:
    print('Is not the same taht classical')

simmetric_kernel = qfKernel(x2,x1)
print(simmetric_kernel)

if simmetric_kernel == quantum_kernel:
    print('Is ismmetric')

Quantum kernel: 0.6804946853218848
Classic dot product: 1.341463615504249
Is not the same taht classical
0.6804946853218848
Is ismmetric