Data in env.sel3.csv is not scaled
Data in env.sel3.scaled.csv are scaled using standard scaling

In this notebook, data scaled using MinMax ([0 pi] or [0,2pi]) scaled is produces and stored in env.sel3.minmax.csv

In [1]:
import numpy as np
import pandas as pd
import csv
from sklearn.preprocessing import MinMaxScaler, StandardScaler

#load not scaled data
#load dataset with panda
#data are scaled outside the notebook
env = pd.read_csv('env.sel3.csv')  
Y = env[['occupancy']]
X = env[['illuminance', 'blinds','lamps','rh', 'co2', 'temp']]

#features = MinMaxScaler(feature_range=(0, np.pi)).fit_transform(X) #produce pi_minmax
#features = MinMaxScaler(feature_range=(0, 1)).fit_transform(X) #produce 2pi_minmax
features = StandardScaler().fit_transform(X) #standard scaler
env_scaled = pd.DataFrame(features, columns=X.columns)

In [2]:
#take a look to the new scaled dataset
env_scaled.head()

   illuminance    blinds     lamps        rh       co2      temp
0    -0.992947  0.532931 -1.219187 -0.827342 -1.001952 -0.061038
1    -0.992947  0.532931 -1.219187 -0.827342 -0.892767 -0.061038
2    -0.992947  0.532931 -1.219187 -0.827342 -1.002378 -0.061038
3    -0.992947  0.532931 -1.219187 -0.827342 -0.867397 -0.061038
4    -0.992947  0.532931 -1.219187 -0.827342 -0.958960 -0.061038

In [3]:
#some summary
env_scaled.describe()

,illuminance,blinds,lamps,rh,co2,temp
count,2.865000e+03,2.865000e+03,2.865000e+03,2.865000e+03,2.865000e+03,2.865000e+03
mean,-3.968127e-17,1.190438e-16,7.440238e-17,8.333067e-16,-5.158565e-16,-4.364940e-16
std,1.000175e+00,1.000175e+00,1.000175e+00,1.000175e+00,1.000175e+00,1.000175e+00
min,-1.016464e+00,-2.153509e+00,-1.219187e+00,-2.867988e+00,-1.222898e+00,-1.774843e+00
25%,-8.577242e-01,5.329308e-01,-1.219187e+00,-4.930550e-01,-8.493488e-01,-8.539926e-01
50%,-6.990397e-02,5.329308e-01,8.248370e-01,2.229178e-01,-3.253382e-01,-1.940488e-01
75%,3.357646e-01,5.329308e-01,8.248370e-01,6.345396e-01,7.570723e-01,7.268020e-01
max,8.560843e+00,5.329308e-01,8.248370e-01,1.996634e+00,3.584325e+00,2.614547e+00

In [4]:
#append the label to the scaled dataset
env_scaled.insert(6,Y.columns[0], Y)
env_scaled.head()

   illuminance    blinds     lamps        rh       co2      temp  occupancy
0    -0.992947  0.532931 -1.219187 -0.827342 -1.001952 -0.061038         -1
1    -0.992947  0.532931 -1.219187 -0.827342 -0.892767 -0.061038         -1
2    -0.992947  0.532931 -1.219187 -0.827342 -1.002378 -0.061038         -1
3    -0.992947  0.532931 -1.219187 -0.827342 -0.867397 -0.061038         -1
4    -0.992947  0.532931 -1.219187 -0.827342 -0.958960 -0.061038         -1

In [5]:
#salve to csv
env_scaled.to_csv('env.sel3.sk_sc.csv', quoting=csv.QUOTE_STRINGS, index=False)